<div class="nav__top">
    <div class="logo nav__logo">
        <svg class="nav__logo--icon" title="therainshark logo">
            <use href="#logo"></use>
        </svg>
        <p class="nav__logo--text">TheRainShark</p>
    </div>
    <button class="menu__button">|||</button>
</div>

<menu class="navigation nav--primary">
    <li><a href="../index.html#home">Home</a></li>
    <li><a href="../pages/portfolio.html">Portfolio</a></li>
    <li><a href="https://hyperfollow.com/TheRainShark">My music</a></li>
    <li><a href="../index.html#about-me">About me</a></li>
    <li><a href="../pages/contact.html">Contact</a></li>
</menu>

<div class="breakline"></div>