@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
    color-scheme: light; /*dark*/

    --primary: light-dark(#026570, #72B8B5);
    --secondary: light-dark(#031C54, #ABE0F6);
    --primary-bg: light-dark(#72B8B5, #014148);
    --secondary-bg: light-dark(#ABE0F6, #021745);
    --primary-muted: light-dark(#49999B, #135459);
    --secondary-muted: light-dark(#9ACCE6, #142F64);
    --bw-text: light-dark(#000, #fff);
    --bw-bg: light-dark(#fff, #000);
    --card-title: #fff;
    --text-muted: rgba(255, 255, 255, 0.63);

    --shadow: rgba(0, 0, 0, 0.50) 0 0 8px;
    --shadow-lighter: rgba(0, 0, 0, 0.25) 0 0 8px;

    --nav-height: 60px;

    font-family: "Instrument sans", sans-serif;
    text-align: center;
}

body {
    background-color: var(--secondary-bg);
    margin: 0;
}
nav {
    position: sticky;
    box-sizing: border-box;
    top: 0;
    padding: 0 16px;
    background-color: var(--primary-bg);
    z-index: 9;
}
header {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 4rem 2rem;
    align-content: space-around;
    scroll-margin-top: var(--nav-height);
}
footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--primary-bg);
    padding: 16px 0;
}
section {
    padding: 4rem 2rem;
}
.area {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-bg);
    gap: 20px;
    padding: 32px;
}
.part {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 64px 32px;
}

h1 {
    color: var(--primary);
    font-weight: 700;
    font-size: 32px;
    text-shadow: var(--primary) 0 0 4px;
    margin: 0;
}
h2 {
    color: var(--secondary);
    font-weight: 700;
    font-size: 28px;
    text-align: start;
    margin: 0;
}
p {
    color: var(--secondary);
    font-weight: 500;
    font-size: 24px;
    margin: 0;
}
figure, ul {
    margin: 0;
    padding: 0;
}
menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
blockquote {
    color: var(--secondary);
    font-size: 24px;
    font-weight: 600;
    quotes: none;
    position: relative;
    z-index: 1;
    margin: 0;
    margin-left: 32px;
}
blockquote::before {
    content: "”";
    position: absolute;
    color: var(--primary-muted);
    font-size: 128px;
    top: -44px;
    left: -32px;
    z-index: -1;
}
img {
    object-fit: cover;
}

.button, button[type="submit"] {
    display: inline-block;
    background-color: var(--primary);
    color: var(--bw-bg);
    font-size: 28px;
    font-weight: 650;
    padding: 12px 1.4rem;
    border-radius: .5em;
    border: 0;
    text-decoration: none;
    box-shadow: var(--primary) 0 0 4px;
}
.button:hover, button[type="submit"]:hover {
    background-color: var(--bw-text);
    color: var(--bw-bg);
    box-shadow: var(--shadow);
}
.button:active, button[type="submit"]:active {
    background-color: var(--bw-bg);
    color: var(--bw-text);
    box-shadow: 0 0 0 0;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-muted);
    border-radius: .5em;
    box-shadow: var(--shadow-lighter);
    padding: 20px;
    gap: 8px;
}
.card__cover {
    position: relative;
}
.card__img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 1em;
}
.card figcaption {
    text-align: left;
    align-self: stretch;
}
.card__player {
    width: 24px;
    height: auto;
    filter: invert(100%) opacity(73%);
    position: absolute;
    translate: -50% -50%;
    left: 50%;
    top: 50%;
    background-color: white;
    border-radius: 50%;
    overflow: visible;
    padding: 1em;
}
.card__player:active {
    content: url(../icons/pause-btn.svg);
}
.card__title {
    color: var(--card-title);
    font-size: 32px;
    font-weight: 550;
    line-height: 36px;
}
.card__album {
    color: var(--text-muted);
    font-size: 25px;
}

.special {
    font-family: "Indie Flower";
    font-weight: 300;
}
.h1__special {
    display: block;
    margin-top: -8px;
    font-size: 20px;
}

.quote {
    text-align: left;
}
.author {
    color: var(--bw-text);
    font-size: 16px;
    font-style: italic;
    text-align: center;
}
.author::before {
    content: "- ";
}

.logo {
    display: flex;
    max-height: var(--nav-height);
    align-items: center;
}
.breakline {
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    top: calc(var(--nav-height) - 1px);
    height: 1px;
    background-color: var(--secondary-bg);
}
.navigation a {
    font-weight: 650;
    text-decoration: underline;
    font-size: 16px;
    color: var(--secondary);
}
.navigation a:hover {
    background-color: var(--secondary-muted);
    color: var(--bw-text);
}
.navigation a:active {
    background-color: var(--secondary-bg);
}


.nav__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: var(--nav-height);
}
.nav--primary {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background-color: color-mix(in srgb, var(--primary-bg) 70%, transparent);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    padding: 8px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0 2px 8px;
}
.visible {
    display: block;
}
.nav__logo {
    gap: 10px;
    
}
.nav__logo--icon {
    width: 32px;
    height: auto;
    color: var(--primary);
}
.nav__logo--text {
    font-weight: 700;
    color: var(--primary);
}
.menu__button {
    transform: rotate(90deg); /*dočasně*/
    font-size: 16px;
    padding: 8px;
    background-color: var(--primary-muted);
    border: none;
    border-radius: 4px;
}
.menu__button:hover {
    background-color: var(--secondary-bg);
}
.menu__button:active {
    background-color: var(--primary-muted);
}
.menu__button--visible {
    background-color: var(--secondary-muted);
}

.footer__head {
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
}
.footer__logo {
    gap: 8px;
}
.footer__logo--icon {
    width: 24px;
    height: auto;
}
.social {
    display: block;
    background-color: var(--primary);
    -webkit-mask-size: contain; mask-size: contain;
    -webkit-mask-repeat: no-repeat;mask-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.social:hover {
    background-color: var(--secondary);
}
.social--linkedin { -webkit-mask-image: url(../icons/linkedin.svg); mask-image: url(../icons/linkedin.svg); }
.social--instagram { -webkit-mask-image: url(../icons/instagram.svg); mask-image: url(../icons/instagram.svg); }
.social--spotify { -webkit-mask-image: url(../icons/spotify.svg); mask-image: url(../icons/spotify.svg); }
.social--youtube { -webkit-mask-image: url(../icons/youtube.svg); mask-image: url(../icons/youtube.svg); }

.footer__logo--text {
    display: inline;
    margin: 0;
    padding: 0;
    color: var(--primary);
    font-size: 16px;
    font-weight: 600;
}
.socials {
    display: flex;
    gap: 2px;
    align-items: center;
    color: var(--primary);
    list-style: none;
}
.footer__copyright {
    color: var(--primary);
    font-size: 12px;
    margin-top: 8px;
}

#portfolio {
    align-items: center;
}
#portfolio h2 {
    text-align: center;
}

#offer ul {
    list-style: "✓ ";
    text-align: start;
    font-weight: 600;
    font-size: 24px;
    color: var(--secondary);
    list-style-position: inside;
}

#about-me {
    scroll-margin-top: var(--nav-height);
}