<footer>

    <div class="footer__head">
      <div class="logo footer__logo">
        <img src="/logos/therainshark-logo.svg" class="footer__logo--icon" alt="therainshark logo">
        <p class="footer__logo--text">TheRainShark</p>
      </div>
      <ul class="socials">
        <li><a href="www.linkedin.com/in/roman-sedlář-therainshark-9a80a2414"><span class="social social--linkedin"></span></a></li>
        <li><a href="https://www.instagram.com/therainsharkmusic/"><span class="social social--instagram"></span></a></li>
        <li><a href="https://open.spotify.com/artist/4bzWZdfM4htrSyXUmfqhMo"><span class="social social--spotify" ></span></a></li>
        <li><a href="https://www.youtube.com/@TheRainShark"><span class="social social--youtube" ></span></a></li>
      </ul>
    </div>
    
    <div class="footer__main">
      <menu class="navigation nav--secondary">
        <li><a href="/index.html#home">Home</a></li>
        <li><a href="/src/pages/portfolio.html">Portfolio</a></li>
        <li><a href="https://hyperfollow.com/TheRainShark">My music</a></li>
        <li><a href="/index.html#about-me">About me</a></li>
        <li><a href="/src/pages/contact.html">Contact</a></li>
      </menu>
    </div>
    
    <div class="footer__foot">
      <p class="footer__copyright">&copy; 2026 TheRainShark</p>
    </div>
    
  </footer>