@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
  background-color: darkcyan;
  font-family: "Instrument sans", sans-serif; 
  text-align: center;
  font-size: large;
  --primary: aquamarine;
  --secondary: darkblue;
}
h1 {
  background-color: var(--secondary);
  box-shadow: var(--secondary) 0 0 1em;
  color: var(--primary);
  padding: 12px;
  border-radius: 2px;
  margin-inline: 2em;
  margin-bottom: 1em;
}
a {
  padding: 12px;
  color: black;
  margin: 4px;
  font-weight: 600;
}
a:hover {
  color: var(--secondary);
  background-color: var(--primary);
  border-radius: 2px;
}
p {
  margin-top: 12em;
  color: white;
}